[submodule "multimedia-sentiment-analyzer"]
	path = multimedia-sentiment-analyzer
	url = https://github.com/RohitShelke10/multimedia-sentiment-analyzer.git
[submodule "sentiment-dashboard"]
	path = sentiment-dashboard
	url = https://github.com/Amit-Morade/sentiment-dashboard.git
